* {
    margin: "0px";
    padding: "0px";
    text-decoration: none !important;
    list-style-type: none !important;
  }
  .content11 {
    padding-top: 25px;
  }
  .card{
      border: none;
  }
  .konten11 .img-1{
    width: 26px;
    height: 26px;
  }
  .konten11{
    background: linear-gradient( #A8091E, #EC2028 );
    border: 1px solid #F3001F;
    box-sizing: border-box;
    width: 100%;
  }

  .konten11 h1{ 
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #FFFFFF;
  }

  .konten11 h2{
    width: 190px;
    height: 29px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }

  .konten11 h3{
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #E6E6E6;
  }

  .konten11 h4{
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }
  .konten11 .img1{
      width: 75px;
      height: 75px;
      border-radius: 50%;
  }
  .konten11 .img3{
    width: 16px;
    height: 16px;
    margin-top: 7px;
    margin-left: -10px;
  }

  .konten11 .img2{
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  

  .konten2 h1{
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
  }

  .konten2 h2{
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    color: #B0B0B0;
  }

  .konten2 .img1{
      width: 40px;
      margin-top: 40px;
  }

  .konten3_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    background: #F1F2F6;
    border-radius: 16px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #1E272E;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .konten3_btn:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    background: rgba(243, 0, 31, 0.1);
    border-radius: 16px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #F3001F;
  }

  .konten3 .img2{
      width: 55px;
      height: 55px;
      border-radius: 50%;
      margin-top: 15px;
  }

  .konten3 h1{
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
  }

  .konten3 h2{
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #B0B0B0;
  }
.konten3 .btn{
    justify-content: center;
    align-items: center;
    background: #E4E5EA;
    border-radius: 4px;  
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    color: #747D8C;
}

.konten4 a{
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #F3001F;
}

