input[type=text2]{
  width:410px;
  height: 45px;
  background: #F1F2F6;
  border-radius: 4px;
  border: none;
  background-image: url('../img/search.svg');
  background-position: 10px 15px;
  background-repeat: no-repeat;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #A4B0BE;
}

input[type=cari] {
  width:100%;
  height: 45px;
  background: #F1F2F6;
  border-radius: 4px;
  border: none;
  background-image: url('../img/search.svg');
  background-position: 10px 15px;
  background-repeat: no-repeat;

  font-family: 'Product Sans';
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  align-items: center;
  color: #A4B0BE;
}

input::-webkit-input-placeholder{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #A4B0BE;
}

input[type=text1] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 16px;
  width: 234px;
  height: 44px;
  background: #F1F2F6;
  border-radius: 4px;
  border: none;
  background-image: url('../img/search.svg');
  background-position: 10px 15px;
  background-repeat: no-repeat;

  font-family: 'Product Sans';
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  align-items: center;
  color: #A4B0BE;
}
.konten_1 .crds h1{
  margin-top: -8px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  color: #000000;

}

.konten_1 .crds h2{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 158.3%;
  color: #B0B0B0;
}
.konten_1 .crds3 .img3{
  width: 15px;
height: 15px;
}

.konten_1 .crds3 h1{
  width: 200px;
  height: 13px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.konten_1 .crds3 h2{
  width: 90px;
  height: 13px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #F3001F;

  
}

.konten_1 .lct .img3{
  width: 15px;
  height: 15px;
  margin-top:-5px;
  margin-left:-50px;
}
.konten_1 .lct .img-3{
  width: 15px;
  height: 15px;
  margin-top:-3px;
  margin-right: -5px;
}
.konten_1 .lct h1{
  width: 91px;
  height: 13px;
  margin-left: -25px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin-top: -1px;
  color: #1E272E;
}

.konten_1 .lct h2{
  width: 70px;
  height: 17px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #F3001F;
}


/* lct1 */
.konten_1 .lct1 .img3{
  width: 15px;
  height: 15px;
  margin-top:-5px;
  margin-left:-50px;
}
.konten_1 .lct1 .img-3{
  width: 15px;
  height: 15px;
  margin-top:-3px;
  margin-right: -5px;
}
.konten_1 .lct1 h1{
  width: 143px;
height: 13px;
  margin-left: -13px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin-top: -3px;
  color: #1E272E;
}

.konten_1 .lct1 h2{
  width: 110px;
  height: 13px;
  margin-right: -13px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #F3001F;
  margin-top: -3px;
}

.konten_1 .btn1 {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 14px;
  width: 128px;
  height: 41px;
  background: #EC2028;
  border-radius: 4px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none; 
}

.konten_1 .btn2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 14px;
  width: 128px;
  height: 41px;
  background: #E4E5EA;
  border-radius: 4px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #747D8C;
  border: none;
} 








*/
.conten1 h1{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1E272E;
}

.conten1 h2{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #292D32;
}
.btn-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 14px;
  width: 100%;
  height: 42px;
  background: #E4E5EA;
  border-radius: 4px;
  border: none;

  font-family: 'Google Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #747D8C;
}

.btn-1:hover{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 14px;
  width: 100%;
  height: 42px;
  background: #EC2028;
  border-radius: 4px;

  font-family: 'Google Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.konten2 .btn5{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: auto;
  height: 32px;
  background: #F1F2F6;
  border-radius: 16px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #1E272E;

}

.konten2 .btn5:hover{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;

  width: auto;
  height: 32px;
  background: rgba(243, 0, 31, 0.1);
  border-radius: 16px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #F3001F;
}

.konten2 h1{
  font-family: 'Product Sans';
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
/* .cards .btn3{
  position: absolute;
  width: 60px;
  height: 30px;
  background: #F3001F;
  border-radius: 4px 0px 8.5px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 8px;
  color: #FFFFFF;
} */
.konten1 .card .cards{
  background: none;
}
.card .cards .btn3{
  
  width: 60px;
  height: 30px;
  background: #F3001F;
  border-radius: 4px 0px 8.5px;
  margin-left: -15px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 8px;
  color: #FFFFFF;
  
}


.konten6 .img1{
  width: 15px;
  height: 15px;
}

.konten6 a{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #F3001F;
}
.konten6 h1{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #1E272E;
}

.konten7 .img1{
  width: 40px;
  height: 40px;
}

.konten7 h1{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #1E272E;
}

.konten7 h2{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #B0B0B0;
}

.konten5 p{
  font-family: 'Product Sans';
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #1E272E;
}
.navs .card{
  display: inline-block;
  width: 100%;
  height: 93px;
  background: #FFFFFF;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 24px 24px;
}

.navs .card .active{
  border-top: solid #F3001F;
  width: 19%;
  height: 2px;
}
.navs .card .color-active{
  color: #F3001F;
}

.navs .card img{
  width: 19px;
height: 19px;
}

.navs .card span {
  width: 57px;
  height: 12px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #292A2E;
}


/* .navs .card span{
 
  width: 57px;
  height: 12px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #F3001F;

} */



